
            body{
                background-color: rgb(17, 17, 17);
                color: #FFFFFF;
            }
            main{
                font-size: medium;
            }
            /*responsive
            @media(max-width:800px){
                body, main, section, div .responsive-img{ 
                    font-size: small;
                }
            }*/
            h1 {
                text-indent: 10px;
                padding-top: 10px;
                font-size: 50px;
                font-weight: 500;
                text-transform: uppercase;
                text-shadow: 3px 2px 3px green,
                2px 2px 1px black;
            }
            h2 {
                font-family:Arial, Helvetica, sans-serif;
                font-size: 40px;
            }
            h4{
                font-family: 'Times New Roman', Times, serif;
            }
            #rect {
                animation-name: rainbow;
                animation-duration: 4s;
                animation-iteration-count: infinite;
            }
            @keyframes rainbow{
                0%{
                    background-color: rgb(176, 216, 29);
                }
                50%{
                    background-color: rgb(197, 206, 68);
                }
                100%{
                    background-color: rgb(133, 141, 63);
                }
            }

            a {
                outline: none;
                text-decoration: none;
                display: inline-block;
                margin-left: 1%;
                text-align: center;
                padding: 3px;
                box-sizing: border-box;
                width: 10%;
                color: white;
            }
            a:hover {
                color: black;
            }
            .content p{
                position: relative;
                top: 20px;
                left: 20px;   
            }
            nav {
                /*background-color:hsl(133, 90%, 35%);*/
                color: #FFFFFF;
                font-size: medium;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
            }
            nav ul {
                background-color: hsl(133, 80%, 25%);
                margin: 0px;
                padding: 5px 0px 5px 30px;
            }
            nav li {
                display: inline;
                margin-right: 15px;
            }
            section {
                font-size: medium;
                letter-spacing: 3px;
                word-spacing: 2px;    
            }
            
    